<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="project0/Style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta content="width=device-width,initial-scale=1.0">
        <title>
            Synptoms
        </title>
    </head>
    <body>
        <h1>Synptoms</h1>
        <h3>Here are some of the most common symptons that can help someone to identify the COVID-19</h3>
        <ul>
            <li>Cough</li>
            <li class="important">Fever</li>
            <li>Fatigue</li>
            <li>Dificulty to breath</li>
        </ul>
    </body>
</html>